<div class="row" style="width:100%">
<div class="col-md-6">
<div *ngFor="let dimension of annotation.coords">
<div (click)="onOptionClick(dimension)">
    {{dimension.name}}
</div>
</div>
</div>
<div class="col-md-6">
    <canvas id="canvas" width="{{annotation.width}}" height="{{annotation.height}}"></canvas>
</div>
</div>